{{>nav}}
        <div>
            <a href="/"><button class="btn btn-dark my-3">REGRESAR AL FORMULARIO</button></a>
        </div>
        <div class="container text-center mt-5">
            <h2>Productos</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4 my-4">
                {{#each products}}
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src={{thumbnail}} class="card-img-top" alt={{id}}>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">Precio${{price}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

