h1 {
    color: rgb(55, 52, 52);
}

label {
    font-weight: bold;
    font-style: italic;
}

.centroMensaje {
    min-height: 50vh;
    background-color: rgba(128, 128, 128, 0.5) ;
    margin-bottom: 10px;

}

.formulario{
    background-color: rgba(128, 128, 128, 0.5) ;
    margin-bottom: 10px;
}
