<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5 justify-content-center px-5">
    <h1 class="fw-bolder text-white text-center text-md-start">Ejs</h1>
    <hr class="vr text-white d-none d-md-block" style="height: 80px;">
    <div class="container-fluid">
        <ul class="d-flex navbar-nav m-auto ms-md-0 mb-lg-0">
            <li class="nav-item"><a href="/" class="nav-link">Formulario</a></li>
            <li class="nav-item"><a href="/productos" class="nav-link">Productos</a></li>
        </ul>
    </div>
</nav>